.main {
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.links {
  color: #828282;
}

.links a {
  margin-right: 5px;
}

.btn {
  border: none;
  background-color: #fff;
  color: rgb(52, 120, 246);
  cursor: pointer;
}
